<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="riskybidness.uncg_risk">
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="riskybidness.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="riskybidness.HostLobby">
        </activity>
        <activity
            android:name="riskybidness.JoinLobby">
        </activity>
        <activity
            android:name="riskybidness.testActivity">
        </activity>
        <activity
        	android:name="riskybidness.GameActivity"
        	android:screenOrientation="landscape" >
        </activity>
        <activity
        	android:name="riskybidness.WinnerScreen"
        	android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
